<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
    	<Console name="stdout" target="SYSTEM_OUT">
    		<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } [%t] --- %-40.40logger{39} : %m%n"/>
    	</Console>
    	<Socket name="logstash" protocol="udp" host="172.21.0.4" port="8091" immediateFlush="true">
        	 <PatternLayout pattern="application=webapp level=tracing %m%n"/>
    	</Socket>
    </Appenders>  
	<Loggers>
	 	<Root level="INFO">
            <AppenderRef ref="logstash" />
        </Root>
	</Loggers>
</Configuration>